body {
  overflow: hidden;
}

.wrapper {
  z-index: -1;
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(117, 114, 113, 0.8) 10%,
      rgba(40, 49, 77, 0.8) 30%,
      rgba(29, 35, 71, 0.8) 50%,
      rgba(19, 25, 28, 0.8) 80%,
      rgba(15, 14, 14, 0.8) 100%
    ),
    url(https://www.zdnet.com/a/img/resize/2203c11efd3d235b701ade2300f9bb9541875b98/2020/12/01/570738b0-5e25-4ef2-8ff3-7826b91f8905/xmas-fire.jpg?auto=webp&width=768);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: auto;
}

.container {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg {
  max-width: 100%;
  visibility: hidden;
  overflow: visible;
  z-index: 9999;
}

.message {
  padding-top: 10%;
  width: 80%;
  font-size: 35px;
  text-align: center;
  font-family: "Petit Formal Script", cursive;
  color: white;
}

.name {
  font-size: 45px;
}

@media only screen and (max-width: 600px) {
  .message {
    padding-top: 10%;
    font-size: 20px;
  }
}

@media only screen and (max-height: 870px) {
  .message {
    padding-top: 10%;
    font-size: 20px;
  }
}
